.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 80vh;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email{
    margin: 10%;
}

.password{
    margin: 10%;
}

.buttons{
    
}