.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 80vh;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}