.home{
    
}

.title{
    display: flex;
    justify-content: center;
}

body {
    background-image: url("./images/X0W5i4w-pokeball-wallpaper.jpg");
    /* background-image: url("./xLZrFev-pokeball-image.png"); */
}

.carrousel{
    display: flex;
    margin: 10vh;
}
