.title{
    display: flex;
    justify-content: center;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.552);
    border: 2px solid black;
    border-radius: 20%;
    color: white;
}