.container{
    height: 40vh;
}

.title{
    display: flex;
    justify-content: center;
}

.content{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}