@media (max-width: 1920px) {
    .container{
        background-image: linear-gradient(to right top, #000000, #41101d, #800929, #c10029, #ff0017);
        height: 50vh;   
        width: 15vw;
        /* border: 2px solid rgb(13, 13, 13); */
        box-shadow: 0px 0px 4px 2px #000000;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }

    .container:hover{
        /* border: 2px solid white; */
        box-shadow: 0px 0px 4px 2px #E9E9E9;
        overflow: visible;
    }

    .image{
        height: 30vh;
        width: 13vw;
        object-fit: cover;
        /* border: 2px solid rgb(13, 13, 13); */
        box-shadow: 0px 0px 4px 2px #000000;
        border-radius: 5px;
    }
}

@media (max-width: 1920px) {
    .container{
        width: 50vw;
    }

    .image{
        width: 45vw;
    }
}