.container{
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
}

.input{
    width: 25%;
    height: 100%;
    border-radius: 5px;
}

.button{

}

.types{
    display: flex;
}

.p{
    color: white;
    background-image: linear-gradient(to right top, #000000, #41101d, #800929, #c10029, #ff0017);
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 5px;
    padding: 3px;
}